body#popup {
	font-size: 13px;
	background-color: #fff;
}

body#options {
	font-size: 15px;
}

h1 {
	margin-top: 10px;
	margin-bottom: 3px;
	border: 0;
	padding: 10px;
	font-size: 120%;
	background: #3e251a;
	text-align: center;
	color: #f2c739;
}

h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	border: 0;
	padding: 0;
	font-size: 125%;
}

p {
	margin-top: 3px;
	margin-bottom: 5px;
	border: 0;
	padding: 0;
}

textarea {
	width: 325px;
}

em {
	display: block;
	width: 325px;
	text-align: right;
	font-size: 90%;
}

button {
	font-size: 115%;
}
